<h1>Show the Post </h1>
 <%= link_to "Edit", edit_blog_post_path(@blog_post) if user_signed_in? %> |
  
    <h2><%= @blog_post.title %></h2>
    <p> <%= @blog_post.body %></p>


<div>



  <%= button_to "Delete", @blog_post, method: :delete %>
</div>
